body{
	margin: 0;
	padding: 0;
	background: #fff;
	color: #444444;
}

a{
    color: #cb1d2d;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    outline: none;
    text-decoration: none;
}

a:hover{
	color: inherit;
}

img{
    font-size: 0;
}

.container{
    width: 1060px;
	margin-left: auto;
    margin-right: auto;
}

.inner{
	padding-left: 20px;
	padding-right: 20px;
}

.bl{
	display: block;
}

.alignleft{
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}

.alignright{
	float: right;
	margin-left: 15px;
	margin-bottom: 15px;
}

.section-gray{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f0f0f0; 
}

.section-gray-light{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f7f7f7; 
}

.section-white{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #ffffff;
}

.section-black{
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #323232;
}

.section-gradient{
	padding-top: 40px;
	background: transparent url('../images/bg-gradient.png');
	background-size: auto 100%;
	background-repeat: repeat-x;
}

.section-red{
	background-color: #e4253a;
}

.entry-content{
	margin: 0;
}

h1,h2,h3,h4,h4,h5,h6{
	font-family: "sansationregular";
	font-weight: normal;
}

b, strong{
	font-family: "sansationbold";
	font-weight: normal;
}

em{
    font-style: italic;
}

input{
    border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -webkit-border-radius: 0;
}

input[type="search"]{
    -webkit-appearance: none !important;
	border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

blockquote{
	position: relative;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 30px;
}

blockquote:before{
    content: url('../images/quote.png');
    position: absolute;
    left: 0;
    top: 0;
    line-height: 0;
    font-size: 0 !important;
}

blockquote:after{
    content: url('../images/quote.png');
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 0;
    font-size: 0 !important;
}

.verti-top{
	vertical-align: top;
}

.verti-middle{
	vertical-align: middle;
}

.verti-bottom{
	vertical-align: bottom;
}

.upper{
	text-transform: uppercase;
}

.relative{
	position: relative;
}

.txt-rouge{
	color: #cb1d2d;
}

.txt-white{
	color: #ffffff;
}

/***************************************/
/****			Header				****/
/***************************************/

#header{
	background: #ffffff;
}

#primary-menu{
	padding: 10px 0;
	list-style: none;
}

#primary-menu > li.menu-item{
	float: left;
	margin: 0 30px;
	padding: 10px 0;
}

#primary-menu > li.first-child{
	margin-left: 0 !important;
}

#primary-menu > li.menu-item a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
	border-bottom: 3px solid transparent;
}

#primary-menu > li.current-menu-parent > a,
#primary-menu > li.current-menu-item > a,
#primary-menu > li.menu-item > a:hover{
	border-bottom: 3px solid #cb1d2d;
}

#primary-menu > li.logo-link a,
#primary-menu > li.logo-link a:hover{
	border-bottom: 3px solid transparent !important;
}

.flags-link{
	float: left;
}

.flags-link:first-child:after{
	content: '|';
	display: inline-block;
	margin: 0 4px;
	font-size: 12px;
	vertical-align: text-bottom;
	font-weight: bold;
}

#primary-menu > li.menu-item > a.flags-link:hover{
	border-bottom: 3px solid transparent;
}

#primary-menu > li.menu-item > a.flags-link span.current,
#primary-menu > li.menu-item > a.flags-link:hover span{
	color: #cb1d2d;
}

#primary-menu > li.language-select{
	margin-right: 0 !important;
}

.mobile-home-link{
	display: none;
}

/***************************************/
/****			Home				****/
/***************************************/

#primary{
	overflow: hidden;
}

.flexslider{
	margin: 0 !important;
}

.slides-section{
	position: relative;
}

.slides{
	position: relative;
	overflow: hidden;
}

.flex-control-nav{
	position: absolute;
	bottom: 15px !important;
	left: 0 !important;
	z-index: 100;
}

.flex-control-nav li a{
	background: url('../images/pager.png') no-repeat !important;
	width: 13px !important;
	height: 13px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
}

.flex-control-paging li a.flex-active{
	background: url('../images/pager-active.png') no-repeat !important;
}

.flex-sociaux-block{
	position: fixed;
	right: 0;
	top: 30%;
	z-index: 10000;
	list-style: none;
	padding: 0 5px;
	text-align: center;
	width: 45px;
	background: #fff;
	-moz-box-shadow: -1px 0px 4px 0px #c5c1be;
	-webkit-box-shadow: -1px 0px 4px 0px #c5c1be;
	-o-box-shadow: -1px 0px 4px 0px #c5c1be;
	box-shadow: -1px 0px 4px 0px #c5c1be;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#c5c1be, Direction=180, Strength=4);
}

.flex-sociaux-block > li{
	display: block;
}

.flex-sociaux-block > li > a{
	display: block;
	height: 45px;
	line-height: 45px;
}

.flex-sociaux-block > li > a:hover{
	opacity: 0.5;
}


#twitter,
#facebook{
	border-bottom: 1px solid #ededed;
}

.section-title{
	font-family: 'sansationlight';
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
	line-height: 68px;
}

.section-wihte-title{
	font-family: 'sansationlight';
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 0;
	padding-bottom: 15px;
}

.section-title .all-link{
	font-family: 'sansationregular';
	font-size: 12px;
	color: #cb1d2d;
	text-transform: uppercase;
	line-height: 68px;
	text-decoration: none;
}

.section-title .all-link img{
	vertical-align: text-bottom;
}

.section-title .all-link:hover{
	opacity: 0.6;
}

.offre-item{
    padding: 35px 25px;
}

.offre-link{
	display: block;
	text-decoration: none;
	color: #636363;
}

.offre-link:hover{
	opacity: 0.7;
	color: #636363;
}

.offre-img{
	height: 40px;
	line-height: 40px;
}

.offre-img > img{
	height: 32px;
}

.offre-title{
	margin-top: 15px;
	font-family: 'sansationbold';
	font-size: 15px;
}

.actualites-grid{
	font-size: 0;
}

.actualite-item{
	float: left;
	width: 30%;
}

.middle-item{
	margin-left: 5%;
	margin-right: 5%;
}

.actualite-date{
	font-family: 'sansationbold';
	font-size: 13px;
	color: #292929;
}

hr.separator-rouge{
	color: #cb1d2d;
	background: #cb1d2d;
	width: 30px;
	height: 2px;
	margin-top: 10px;
	margin-bottom: 0;
}

hr.separator-white{
	color: #fff;
	background: #fff;
	width: 30px;
	height: 2px;
	margin-top: 35px;
	margin-bottom: 35px;
}

.actualite-title{
	line-height: 24px;
	font-size: 20px;
	margin: 20px 0;
	font-weight: normal;
}

.actualite-title a{
	text-decoration: none;
}

.actualite-title a:hover{
	opacity: 0.8;
}

.actualite-img{
	margin: 0;
	max-height: 180px;
	overflow: hidden;
}

.actualite-body{
	margin: 20px 0;
	color: #444444;
	text-align: justify;
}

.actualite-link{
	color: #cb1d2d;
	text-decoration: none;
}

.actualite-link:hover{
	color: #cb1d2d;
	margin-right: 10px;
	opacity: 0.8;
}

.contact-title{
	font-size: 18px;
}

.contact-infos{
	font-family: 'sansationlight';
	font-size: 16px;
	color: #fff;
	font-weight: normal;
}

.contact-infos a{
	color: #fff;
	text-decoration: none;
}

#map-tabs{
	margin-top: -60px;
	text-align: right;
}

#map-tabs ul{
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
}

#map-tabs ul > li{
	outline: none;
	float: left;
	margin-left: 35px;
	outline: none;
}

#map-tabs ul > li a.tabs-link{
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
	outline: none;
}

#map-tabs ul > li.ui-tabs-active a.tabs-link{
	opacity: 1;
}

#map-tabs .tabs-box{
	text-align: left;
	margin-top: 45px;
}

.map-canvas{
	width: 100%;
    height: 400px;
}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.google-labels{
	color: #a24846;
	font-weight: bolder;
}

.equipe-photo img{
	width: 85%;
}

.no-border{
	border: 0 !important;
}

.equipe-content{
	padding-bottom: 40px;
}

.equipe-name{
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 25px;
	color: #cb1d2d;
}

.equipe-description{
	font-size: 13px;
	color: #444444;
}

.equipe-intervention{
	font-size: 13px;
}

.equipe-more-link{
	margin-top: 30px;
}

.equipe-more-link .all-link{
	text-decoration: none;
}

.equipe-more-link .all-link:hover{
	color: #cb1d2d;
	margin-left: 15px;
}

.equipe-photo-home{
	vertical-align: bottom;
}

/***************************************/
/*****            Page              ****/
/***************************************/

.section-top-image{
	position: relative;
	padding: 80px 0;
}

.page-icone{
	width: 50px !important;
	padding-top: 5px;
}

.page-icone img{
    max-height: 40px;
    height: 100%;
}

.page-title-box{
	padding-left: 15px;
}

.page-title{
	font-family: "sansationbold";
	font-weight: normal;
	font-size: 45px;
	line-height: 50px;
	margin-bottom: 10px;
	color: #444444;
}

.page-subtitle{
	margin: 0;
	font-size: 30px;
	line-height: 34px;
	color: #cb1d2d;
	font-weight: normal;
}

#primary{
	background-color: #f8f8f8; 
}

.contact-ville{
	color: #fff;
	font-family: "sansationlight";
	font-size: 37px;
	text-align: center;
	padding: 55px 5px;
}

#contact-paris{
	background: transparent url('../images/contact-paris.jpg');
	background-size: 100% 100%;
}

#contact-bruxelles{
	background: transparent url('../images/contact-bruxelles.jpg');
	background-size: 100% 100%;
}

.contact-info-box{
	padding: 45px 25px;
	font-family: "sansationlight" !important;
	text-align: center;
	font-weight: normal;
}

.paris-info-box,
.paris-info-box a{
	font-family: "sansationlight" !important;
	font-size: 19px !important;
	color: #666666 !important;
}

.paris-info-box{
	background-color: #f7f7f7;
}

.bruxelles-info-box a,
.bruxelles-info-box{
	background-color: #666666;
	font-size: 19px !important;
	color: #ffffff !important;
}

.contact-map{
	width: 100%;
	height: 300px;
}

.section-red-title{
    font-family: 'sansationlight';
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 0;
    line-height: 68px;
}

.contact-content{
	color: #7a7a7a;
	font-family: 'sansationlight';
	font-weight: normal;
}

/***************************************/
/****			Actus				****/
/***************************************/

article.latest-news{
	padding-bottom: 50px;
	margin-bottom: 50px;
	border-bottom: 1px solid #d7d7d7;
}

article .news-date{
	color: #292929;
	font-family: 'sansationbold';
	font-weight: normal;
}

article .news-title{
	color: #cb1d2d;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
}

article .news-title a:hover{
	color: #cb1d2d;
}

article.latest-news .news-description{
	font-size: 19px;
	font-family: 'sansationlight';
	font-weight: normal;
}

article.latest-news .news-description-box{
	position: relative;
	padding-bottom: 25px;
}

article.latest-news .news-description-box .news-link{
	position: absolute;
	right: 0;
	bottom: 0;
}

article.latest-news .news-description-box .news-link:hover{
	margin-right: 10px;
	color: #cb1d2d;
}

article.news-item .article-header{
	width: 85%;
}

.news-img-box{
    margin: 0;
    max-height: 180px;
    overflow: hidden;
}

.news-grid-3{
    padding-bottom: 50px;
}

.pagination{
	display: inline-block;
	margin: 0 5px;
	color: #444444;
	vertical-align: middle;
}

.pagination.active{
	color: #cb1d2d;
}

.pagination.prev{
	margin-right: 20px;
}

.pagination.next{
	margin-left: 20px;
}

span.pagination{
	opacity: 0.5;
}

.article-content{
	position: relative;
}

.article-date{
	color: #292929;
	font-family: 'sansationbold';
	font-weight: normal;
}

.article-title{
	color: #cb1d2d;
	font-weight: normal;
	font-size: 27px;
	line-height: 31px;
}

.article-body{
	color: #444444;
}

.news-menu{
	padding-left: 0;
	list-style: none;
}

.news-menu-item{
	padding: 15px 0;
	border-top: 1px solid #d7d7d7;
}

.news-menu-item:last-child{
	border-bottom: 1px solid #d7d7d7;
}

.news-menu-item .separator-rouge{
	margin-top: 5px;
}

.news-menu-item .news-menu-link{
	margin-top: 5px;
	font-family: 'sansationbold';
	font-weight: normal;
}

.news-menu-title{
	color: #444444;
	font-size: 21px;
}

.pager-active-img{
	display: none;
}

.news-menu-pager.active .pager-active-img{
	display: inline-block;
}

.news-menu-pager.active .pager-img{
	display: none;
}

.news-pager-box{
	position: relative;
	padding: 0 40px;
}

.news-pager-prev{
	position: absolute;
	left: 0;
    top: 0;
    color: #444444;
}

.news-pager-next{
	position: absolute;
	right: 0;
    top: 0;
    color: #444444;
}

.news-pager-next:hover,
.news-pager-prev:hover{
	opacity: 0.7;
}

.addtoany_list{
	position: absolute;
	right: 0;
    top: 10px;
}

.mobile-article-select-box{
	display: none;
	padding: 0 0 25px 0;
}

#mobile-article-select{
	width: 100%;
	margin-top: 10px;
}

/***************************************/
/****			Equipe				****/
/***************************************/

.bg-white{
	background: #fff;
}

.filter-btn-group{
	font-size: 0;
}

.filter-btn-box{
	position: relative;
	font-family: 'sansationlight';
	font-size: 25px;
	display: inline;
    padding: 0 30px;
}

.filter-btn-box:after{
	content: url('../images/separator.png');
	position: absolute;
    right: -6.5px;
}

.filter-btn-box:last-child:after{
	content: '';
	display: none;
}

.filter-btn{
	background: none;
	text-transform: uppercase;
	border: 0;
	color: #7d7d7d;
	outline: none;
}

.filter-btn.active,
.filter-btn:hover{
	color: #cb1d2d;
}

.equipe-gallery{
	font-size: 0;
	border-top: 1px solid #ccc;
}

.equipe-item{
	position: relative;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}

.equipe-block-link{
	display: block;
}

.equipe-photo{
	display: block;
	vertical-align: top;
}

.equipe-info{
	width: 100%;
	padding: 15px;
	background: #fff;
	border-top: 7px solid #cb1d2d;
	border-bottom: 1px solid #ccc;
}

.equipe-person{
	margin-bottom: 5px;
	font-size: 16px;
	line-height: 20px;
	color: #d03342;
}

.equipe-fonction{
	color: #878787;
	margin-top: 0;
	font-size: 13px;
}

.equipe-top-photo{
	display: block;
	width: 100%;
}

.euiper-more-link{
	color: #d03342;
	font-size: 14px;
}

.person-name{
	margin-bottom: 0;
	font-size: 49px;
	color: #cb1d2d;
	min-height: 53px;
}

.person-fonction{
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: 25px;
}

.person-contact-infos{
	font-size: 13px;
	margin-top: 0;
	margin-bottom: 25px;
}

.equipe-top-section{
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
}

.equipe-bottom-section{
	padding: 50px 0;
	border-bottom: 1px solid #ccc;
}

.experiences,
.equipe-directe,
.domaines-intervention{
	color: #cb1d2d !important;
	font-size: 13px;
	margin-bottom: 70px;
}

.pager-prev-link{
	display: block;
}

.pager-prev-box .img-prev{
	float: left;
	margin-right: 20px;
}

.pager-prev-info{
	float: left;
}

.pager-person-name{
	font-size: 27px;
	line-height: 30px;
	color: #cb1d2d;
	margin: 0;
}

.pager-person-fonction{
	font-size: 21px;
	line-height: 24px;
	margin-top: 8px;
	color: #444444;
}

.pager-next-link{
	display: block;
}

.pager-next-box .img-next{
	float: right;
	margin-left: 20px;
}

.pager-next-info{
	float: right;
	text-align: right;
}

.pager-prev-link:hover,
.pager-next-link:hover{
	opacity: 0.7;
}

.section-top-photo{
	position: relative;
}

.nav-prev,
.nav-next{
	position: absolute;
	top: 40%;
}

.nav-prev{
	left: 20px;
}

.nav-next{
	right: 20px;
}

.nav-prev:hover,
.nav-next:hover{
	opacity: 0.7;
}

/***************************************/
/****			Cabinet				****/
/***************************************/

.activite-item{
	font-size: 13px;
	margin-bottom: 50px;
}

.cabinet-blocs{
	font-size: 0;
}

.cabinet-bloc{
	float: left;
	width: 50%;
	font-size: 13px;
	padding: 70px 40px;
}

.block-gray{
	background: #848484;
	color: #fff;
}

.block-gray-lignt{
	background: #f1f1f1;
	color: #444444;
}

.block-black{
	background: #444444;
	color: #fff;
}

.block-gray-title{
	color: #ffffff;
}

.block-gray-lignt-title{
	color: #cb1d2d;
}

.block-black-title{
	color: #ffffff;
}

.cabinet-bloc-title{
	font-family: 'sansationlight';
	font-size: 27px;
	line-height: 31px;
	font-weight: normal;
	margin-bottom: 15px;
}

.filtrage-years{
	list-style: none;
	padding: 0;
	margin-bottom: 15px;
}

.filtrage-year-item{
	float: left;
	font-size: 19px;
	margin-right: 15px;
}

.filtrage-year-item a{
	color: #979797;
}

.filtrage-year-item.ui-tabs-active a,
.filtrage-year-item a:hover{
	color: #cb1d2d;
}

.filtrage-months{
	list-style: none;
	padding: 0;
}

.filtrage-month-item{
	float: left;
	font-size: 0;
}

.filtrage-month-item a{
	color: #979797;
	font-size: 18px;
}

.filtrage-month-btn.active,
.filtrage-month-item a:hover{
	color: #cb1d2d;
}

.filtrage-month-item:before{
	content: '-';
	margin: 0 12px;
	color: #979797;
	font-size: 18px;
}

.filtrage-month-item:first-child:before{
	content: none;
}

#evenement-grid{
	font-size: 0;
	min-height: 600px;
	width: 104% !important;
}

.evenement-item{
	padding-bottom: 50px;
	padding-top: 50px;
	font-size: 14px;
	border-bottom: 1px solid #ccc;
	padding-right: 4%;
}

.filtrage-month-btn{
	cursor: pointer;
}

.filtrage-date-box-bottom{
    border-top: 1px solid #ccc;
    margin-top: -1px;
}

/***************************************/
/****			Offre				****/
/***************************************/

.offre-gallery{
	font-size: 0;
	min-height: 532px;
}

.offre-gallery .offre-gallery-item-content{
	position: relative;
	font-size: 15px;
	padding: 100px 50px;
	cursor: pointer;
}

.offre-gallery-item .offre-images{
	display: block;
	width: 100%;
}

.offre-icone > img{
	height: 32px;
}

.offre-gallery .offre-gallery-item{
	max-height: 270px;
	overflow: hidden;
}

.offre-white .offre-hover-content,
.offre-white{
	background: #fff;
}

.offre-gray-light .offre-hover-content,
.offre-gray-light{
	background: #ededed;
}

.offre-gray .offre-hover-content,
.offre-gray{
	background: #848484;
}

.offre-gray-light .offre-hover-title,
.offre-white .offre-hover-title,
.offre-white .offre-title,
.offre-gray-light .offre-title{
	color: #cb1d2d;
}

.offre-gray .offre-hover-title,
.offre-gray .offre-title{
	color: #fff;
}

.offre-hover-content{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px 25px;
	z-index: 1000;
}

.offre-hover-icone{
	width: 25px;
	margin-right: 7px;
}

.offre-hover-title{
	font-size: 15px;
	font-weight: bold;
}

.offre-hover-body{
	margin-top: 7px;
	font-size: 12px;
}

.offre-gray .offre-hover-body{
	color: #fff;
}

.offre-page-title{
	margin: 0;
	color: #fff;
	font-family: 'sansationlight';
	font-size: 25px;
	text-transform: uppercase;
}

.offre-page-content{
	font-family: 'sansationlight';
	font-size: 19px;
}

.offre-avocats-title{
	color: #cb1d2d;
	font-size: 19px;
	font-family: 'sansationbold';
	font-weight: normal;
}

.offre-avocats-en-charge{
	padding: 0;
	border-bottom: 1px solid #d7d7d7;
}

.offre-avocat-en-charge{
	padding: 15px 0;
	border-top: 1px solid #d7d7d7;
}

.offre-avocat-en-charge:hover{
	opacity: 0.8;
}

.offre-avocat-en-charge-photo > img{
	display: block;
	width: 100%;
	border: 1px solid #c4c4c4;
}

.offre-avocat-name{
	color: #cb1d2d;
	font-size: 16px;
	margin: 0;
}

.offre-avocat-fonction{
	font-size: 13px;
	color: #444444;
}

/***************************************/
/****			Footer				****/
/***************************************/

#footer{
	background: #ffffff;
}

#footer-menu{
	padding: 20px 0;
	list-style: none;
}

#footer-menu > li.menu-item{
	float: left;
	margin-right: 45px;
	font-family: "Arial";
	font-size: 15px;
}

#footer-menu > li.menu-item:last-child{
	margin-right: 0;
}

#footer-menu > li.menu-item a{
	display: block;
	text-decoration: none;
	color: #000;
}

#footer-menu > li.menu-item a:hover{
	color: #cb1d2d;
}

/***************************************/
/****			Media Queries		****/
/***************************************/

@media screen and (max-width: 1075px) {
	.container{
		width: 900px;
	}

	#primary-menu > li.menu-item{
		margin: 0 20px;
	}

	.filtrage-month-item a{
		font-size: 14px;
		line-height: 26px;
	}
}

@media screen and (max-width: 1075px) {
	.container{
		width: 900px;
	}

	#primary-menu > li.menu-item{
		margin: 0 20px;
	}

	.filtrage-month-item a{
		font-size: 14px;
		line-height: 26px;
	}
}

@media screen and (max-width: 915px) {
	.container{
		width: 753px;
	}

	#primary-menu > li.menu-item{
		margin: 0 15px;
	}

	#primary-menu > li.menu-item a{
		font-size: 12px;
	}

	.flags-link:first-child:after{
		font-size: 10px;
	}

	.equipe-name{
		font-size: 20px;
	}

	.equipe-intervention,
	.equipe-description{
		font-size: 12px;
		margin-top: 10px;
	}

	.filter-btn-box{
		padding: 0 20px;
		font-size: 20px;
	}

	.offre-hover-title{
		font-size: 12px;
	}

	.offre-hover-icone{
		width: 20px;
	}

	.offre-hover-body{
		font-size: 11px;
	}

	article .news-title{
	    font-size: 18px;
    	line-height: 24px;
	}

	.equipe-item{
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.container{
		width: 100%;
	}

	#wprmenu_menu_ul > li{
		text-transform: uppercase;
	}

	#wprmenu_menu_ul > li.logo-link{
		display: none !important;
	}

	.actualite-title {
	    line-height: 20px;
	    font-size: 16px;
	    margin: 10px 0;
	}

	.actualite-body{
		font-size: 13px;
		text-align: left;
	}

	.equipe-content{
		padding-bottom: 20px;
	}

	.news-grid-3{
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.news-item{
		display: block;
		width: 100%;
		margin: 15px auto;
	}

	.news-imgs-box{
		display: block;
		width: 100%;
		padding: 0;
		margin: 15px 0;
		clear: both;
		max-height: none;
	}

	.news-img-box{
		max-height: none;
	}

	.actualite-body{
		font-size: 15px;
	}

	article.latest-news .news-description-box{
		display: block;
		width: 100%;
		margin: 0;
	}

	article.news-item .article-header{
		width: 100%;
	}

	.evenement-item{
		width: 50%;
	}

	.equipe-person{
		font-size: 20px;
	}

	.equipe-fonction{
		font-size: 18px;
	}

	.offre-gallery-item{
		width: 50%;
		display: table-cell;
	}

	.news-menu-box{
		display: none;
	}

	.article-content-box{
		display: block;
		width: 100%;
		padding-left: 0;
	}

	.mobile-article-select-box{
		display: block;
	}
}

@media screen and (max-width: 680px) {
	.equipe-photo-home{
		display: none;
	}

	.equipe-content{
		display: block;
		width: 100%;
		padding-left: 0;
		padding-bottom: 40px;
	}

	#offres-grid{
		display: block;
	    clear: both;
	    overflow: hidden;
	    margin: 0 auto;
	    width: 100%;
	}

	.offre-item{
	    width: 50%;
	    float: left;
	    margin: 0;
	}

	.home-contact-info,
	.home-contact-map{
		display: block;
		padding: 0;
		width: 100%;
		margin-bottom: 30px;
	}

	.home-contact-info{
		padding-bottom: 80px;
		clear: both;
    	overflow: hidden;
	}

	.home-contact-info .separator-white{
		display: none;
	}

	.home-contact-location{
	    width: 50%;
    	float: left;
	}

	.filter-btn-box{
		padding: 0 10px;
    	font-size: 17px;
	}

	.filter-btn-box:after{
		margin-top: 2px;
	}
}

@media screen and (max-width: 610px) {
	#actualites-grid .actualite-item{
		display: block;
		width: 100%;
		padding: 0;
		margin: 0 0 35px 0;
	}

	#actualites-grid .actualite-item .actualite-img{
		max-height: 400px;
	}

	#footer-menu > li.menu-item{
		margin-right: 20px;
		font-size: 12px;
	}

	.cabinet-bloc{
		display: block;
		width: 100%;
		float: none;
	}

	.activites-grid{
		display: block;
		width: 100%;
		margin: 0 auto;
		clear: both;
		overflow: hidden;
		font-size: 0;
	}

	.activite-item{
		margin-left: 0;
		margin-right: 0;
		float: left;
		width: 50%;
	}

	.contact-box{
		display: block;
		width: 100%;
	}

	.equipe-person{
		font-size: 20px;
	}

	.equipe-item{
		width: 100%;
		float: none;
	}

	.equipe-person{
		font-size: 27px;
	}

	.equipe-fonction{
		font-size: 21px;
	}

	.filter-btn-box{
		width: 50%;
		margin: 10px 0; 
		float: left;
	}

	.filter-btn-box:after{
		display: none;
	}

	.offre-gallery-item{
		display: block;
		width: 100%;
	}

	.offre-page-content,
	.offre-page-avocats{
		display: block;
		width: 100%;
		padding: 0;
		margin: 15px 0;
		clear: both;
	}
}

@media screen and (max-width: 480px) {
	.section-title .all-link{
	    display: block;
		clear: both;
		float: none;
		line-height: 16px;
	}
}

@media screen and (max-width: 400px) {
	.offre-item{
		width: 100%;
	}

	#evenement-grid{
		width: 100% !important;
	}

	.evenement-item{
		float: none;
		width: 100%;
		padding-right: 0;
	}
}